In [ ]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1      Fisika     77     perempuan   12C
1         2       Kimia     82     perempuan   12D
2         3     Ekonomi     20     laki-laki   12C
3         4      Fisika     57     laki-laki   12D
4         5  Matematika     51     laki-laki   12D

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [ ]:
# code here
df.loc[:,["nilai", "kelas"]]

df.loc[5:10,['pelajaran', 'nilai']]

   pelajaran  nilai
5    Geologi     16
6    Ekonomi     63
7     Fisika     12
8    Ekonomi      2
9    Geologi     16
10   Biologi     15

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [ ]:
# code here
siswaEkonomi = df.pelajaran == 'Ekonomi'
siswaFisika = df.pelajaran == 'Fisika'
df[(siswaEkonomi) | (siswaFisika)]

siswa50 = df.nilai > 50
siswaKimia = df.pelajaran == 'Kimia'
df[(siswa50) & (siswaKimia)]

siswa70 = df.nilai > 70
siswaKimia = df['jenis-kelamin'] == 'perempuan'
siswaKimia = df.kelas == '12C'
df[(siswa70) & (siswaKimia) & (siswaKimia)]

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1    Fisika     77     perempuan   12C
15        16    Fisika     81     perempuan   12C
19        20     Kimia     99     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
# code here
def normalization_nilai(x):
  return (x - x.min()) / (x.max() - x.min())

print(df[['nilai']].apply(normalization_nilai))

       nilai
0   0.770833
1   0.822917
2   0.177083
3   0.562500
4   0.500000
5   0.781250
6   0.885417
7   0.354167
8   0.906250
9   0.375000
10  0.677083
11  0.062500
12  0.427083
13  0.937500
14  0.000000
15  0.812500
16  0.666667
17  0.072917
18  0.614583
19  1.000000